extends layout

block scripts
  script(src='/javascripts/client.js')

block content
  h1= title
  form#form(action='')
    span#user-name
    input#message(type='text', name='message', placeholder='メッセージをどうぞ')
    input(type='submit')
  dl#messages