extends layout

block scripts
  script(src='/javascripts/client.js')

block content
  h1= title
  p
    span#user-name
    input#message(type='text', name='message', placeholder='メッセージをどうぞ')
  dl#messages