extends layout

block scripts
  script(src='/javascripts/client.js')

block content
  div.container
    h1= title
    div#manage-form
      div.input-prepend
        span#user-name.add-on
          i.icon-user
        input#message(type='text', placeholder='メッセージをどうぞ')
    ul#messages.unstyled.row-fluid