body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.container {
  max-width: 768px;
}

#manage-form {
  margin-bottom: 15px;
}

.meta {
  color: #999999;
  font-size: 0.9em;
}

.chat-time {
  margin-left: 15px;
}